// define mixins
@mixin transition($prop, $time) {
  -webkit-transition: $prop $time;
  -moz-transition: $prop $time;
  -ms-transition: $prop $time;
  -o-transition: $prop $time;
  transition: $prop $time;
}

@mixin box-sizing($prop) {
  -webkit-box-sizing: $prop;
  -moz-box-sizing: $prop;
  box-sizing: $prop;
}

// define templates

%box {
  padding: 5px 1%;
  margin: auto;
  
  @media screen and (max-width: 480px) {
    padding: 5px 10px;
    @include box-sizing(border-box);
  }

}

%button {
  display: block;
  min-width: 106px;
  min-height: 38px;
  border: none;
  border-radius: 5px;
  @include transition(all, 0.15s);
  margin: 5px 5px;
  font-size: 12px;
  padding: 5px 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

%nav {
  display: flex;
  padding: 5px 15px;
  @include box-sizing(border-box);
  min-height: 40px;
  flex-direction: row;
  align-items: center;
}

%nav-vertical {
  display: flex;
  padding: 15px 5px;
  @include box-sizing(border-box);
  flex-direction: column;
  justify-content: center;
}