// regular color
$black: rgb(35, 35, 35);
$green: rgb(12, 146, 0);
$yellow: rgb(255, 229, 1);
$orange: rgb(254, 124, 0);
$red: rgb(234, 16, 66);
$pink: rgb(246, 56, 105);
$purple: rgb(146, 69, 118);
$blue :rgb(57, 140, 194);
$grey: rgb(213, 213, 213);
$light: rgb(242, 242, 242);

// darker color
$dark-black: lighten($black, 12%);
$dark-green: darken($green, 4%);
$dark-yellow: darken($yellow, 2%);
$dark-orange: darken($orange, 2%);
$dark-red: darken($red, 5%);
$dark-pink: darken($pink, 5%);
$dark-purple: darken($purple, 3%);
$dark-blue: darken($blue, 4%);
$dark-grey: darken($grey, 5%);
$dark-light: darken($light, 4%);

// active color
$active-black: lighten($black, 2%);
$active-green: darken($green, 7%);
$active-yellow: darken($yellow, 5%);
$active-orange: darken($orange, 5%);
$active-red: darken($red, 8%);
$active-pink: darken($pink, 8%);
$active-purple: darken($purple, 7%);
$active-blue: darken($blue, 7%);
$active-grey: darken($grey, 8%);
$active-light: darken($light, 8%);

// universal
.light {
  background-color: $light;
  color: $black;
}

.info {
  background-color: $blue;
  color: $light;
}

.danger {
  background-color: $red;
  color: $light;
}

.success {
  background-color: $green;
  color: $light;
}

.warning {
  background-color: $yellow;
  color: $black;
}

.dark {
  background-color: $black;
  color: $light;
}

.orange {
  background-color: $orange;
  color: $light;
}

.grey {
  background-color: $grey;
  color: $black;
}

.pink {
  background-color: $pink;
  color: $light;
}

.purple {
  background-color: $purple;
  color: $light;
}

// hovers

.light:hover {
  background-color: $dark-light;
  color: $black;
}

.info:hover {
  background-color: $dark-blue;
  color: $light;
}

.danger:hover {
  background-color: $dark-red;
  color: $light;
}

.success:hover {
  background-color: $dark-green;
  color: $light;
}

.warning:hover {
  background-color: $dark-yellow;
  color: $black;
}

.dark:hover {
  background-color: $dark-black;
  color: $light;
}
.orange:hover {
  background-color: $dark-orange;
  color: $light;
}

.grey:hover {
  background-color: $dark-grey;
  color: $black;
}

.pink:hover {
  background-color: $dark-pink;
  color: $light;
}

.purple:hover {
  background-color: $dark-purple;
  color: $light;
}

// actives


.light:active {
  background-color: $active-light;
  color: $black;
}

.info:active {
  background-color: $active-blue;
  color: $light;
}

.danger:active {
  background-color: $active-red;
  color: $light;
}

.success:active {
  background-color: $active-green;
  color: $light;
}

.warning:active {
  background-color: $active-yellow;
  color: $black;
}

.dark:active {
  background-color: $active-black;
  color: $light;
}

.orange:active {
  background-color: $active-orange;
  color: $light;
}

.grey:active {
  background-color: $active-grey;
  color: $black;
}

.pink:active {
  background-color: $active-pink;
  color: $light;
}

.purple:active {
  background-color: $active-purple;
  color: $light;
}

// boxes
.box-light {
  background-color: $light;
  color: $black;
  border-radius: 5px;
}

.box-info {
  background-color: $blue;
  color: $light;
  border-radius: 5px;
}

.box-danger {
  background-color: $red;
  color: $light;
  border-radius: 5px;
}

.box-success {
  background-color: $green;
  color: $light;
  border-radius: 5px;
}

.box-warning {
  background-color: $yellow;
  color: $black;
  border-radius: 5px;
}

.box-dark {
  background-color: $black;
  color: $light;
  border-radius: 5px;
}