.full-width {
  width: 100% !important;
  @include box-sizing(border-box);
}

.container,
.box {
  @extend %box;
}

.container-center,
.box-center {
  @extend %box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  @extend %button;
}

.nav, .nav-left {
  @extend %nav;
}

.nav-middle {
  @extend %nav;
  align-items: center;
}

.nav-right {
  @extend %nav;
  align-items: flex-end;
}

.nav-lr {
  @extend %nav;
  justify-content: space-between;
}

.nav-vertical, .nav-vertical-top {
  @extend %nav-vertical;
}

.nav-vertical-middle {
  @extend %nav-vertical;
  justify-content: center;
}

.nav-vertical-bottom {
  @extend %nav-vertical;
  align-content: space-between;
}

.nav-section {
  display: block;
  margin: 0 10px;
}

input,
input[type='text'],
input[type='search'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='url'] {
  @extend %input-box;
  @include transition(all, 0.15s)
}

input:focus {
  border-color: $light;
  box-shadow: 0 0 5px $blue;
}