.full-width {
  width: 100% !important;
  @include box-sizing(border-box);
}

.box {
  @extend %box;
}

.container {
  @extend %box;
}

.container-center {
  @extend %box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  @extend %button;
}

.nav, .nav-left {
  @extend %nav;
}

.nav-middle {
  @extend %nav;
  align-items: center;
}

.nav-right {
  @extend %nav;
  align-items: flex-end;
}

.nav-lr {
  @extend %nav;
  justify-content: space-between;
}

.nav-vertical, .nav-vertical-top {
  @extend %nav-vertical;
}

.nav-vertical-middle {
  @extend %nav-vertical;
  justify-content: center;
}

.nav-vertical-bottom {
  @extend %nav-vertical;
  align-content: space-between;
}